
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: Arial, Helvetica, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

/* header */
.site-header{
    border-bottom: 1px solid  #BBAF41;
}
.navbar-navs {
    padding-top: 28px;
}
.navbar-nav, .nav-link{
   margin-left: 41px;   
   text-decoration: none;
   color: #959C93;
   font-size: 28px;
}
.zalogo{
    background-color: #4C9022;
    opacity: 78%;
    width: 100%;
    height: 90px;
    color: white;
    font-size: 40px;
    padding-left: 15px;
    padding-top: 20px;
    margin-top: 22px;
}

.nuxt-link-exact-active {
    color: #959C93;
}


.navbar-navs li {
    list-style-type: none;
}
.navbar-navs {
    display: flex;  
    
}

.navbar-nav{
    display: inline-block;
    margin-top: 20px;
}
.navbar-nav a{
    margin-left: 10px;
    
}
.home-slider {
    padding: 0;
}
.data-v-cfc91daa{
    text-decoration: none;
}

.home-slider h5{
    font-size: 60px;
}

.home-slider p{
    font-size: 30px;
}
.carousel-caption {
    bottom: 100px;
}

.carousel-item {
    height: 20rem;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-top: 1px solid  #BBAF41;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.truncate {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goog{
    margin-top: 120px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 300px);
    gap: 50px;
}
.blog{
    border: 1px solid #B8B5B5;
    width: 268px;
    height: 367px;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-size: 18px;
}
.price{
    margin-left: 34px;
}
.model{
    border: none;
    background-color: #4C9022;
    width: 117px;
    height: 32px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 66px;
}
.media{
    margin: 0 auto;
}